-e git+https://github.com/Chicodev30/geonode-mapstore-client-4.4.x-chico.git@main#egg=django_geonode_mapstore_client
-e git+https://github.com/GeoNode/geonode-importer.git@1.1.x#egg=geonode-importer
-e git+https://github.com/GeoNode/geonode.git@4.4.x#egg=GeoNode